
*{
    margin: 0;
    box-sizing: border-box;
    font-style: inherit;
}
img{
    width: 350px;
    height: 350px;
    box-shadow: 5 5 1px  #000;
    box-shadow: 5px 5px 10px  #000;
}

#like{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    margin:  5px;
}
.mainBox,.BoxUrl{
    display: inline-block;
    width: 50%;
    float: left;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvX4T950XF3FmlvBPaayJeyaZqYH5N0RTmcvfAn6N_zd6muvpYPw);
}
.BoxUrl{
    height: 100vh;
}
#idImg{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    box-shadow: 5px 5px 10px  #000;
}
.BoxUrl > div{
    position: relative;
    width: 300px;
    height: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 100px;
}
#cats-main-box,#favorites{
    display: inline-block;
}
#favorites{
    position: absolute;
}
.mainBox > div{
    margin-left: 60px;
    margin-top: 30px;
}
.getCat{
    width: 40px;
    height: 40px;
}
#saveimg{
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 2px solid #BDB76B;
    background: #F0E68C;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#show{
    display: inline-block;
    width: 70px;
    height: 20px;
    border: 2px solid #BDB76B;
    background: #F0E68C;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}
/*#save{
   display: inline-block;
   width: 75px;
    height: 25px;
    border: 2px solid #BDB76B;
    background: #F0E68C;
    text-align: center;
}*/
#img-cat-create{
    width: 300px;
    height: 300px;
}
/*#text{
    margin-top: 10px;
}*/